<p id="notice"><%= notice %></p>

<p>
  <b>Status:</b>
  <%= @idea.status %>
</p>

<p>
  <b>Title:</b>
  <%= @idea.title %>
</p>

<p>
  <b>Description:</b>
  <%= @idea.description %>
</p>

<p>
  <b>Response:</b>
  <%= @idea.response %>
</p>


<%= link_to 'Edit', edit_idea_path(@idea) %> |
<%= link_to 'Back', ideas_path %>
