<div class="page-header">
  <h1>My Account <small><%= @user.full_name %></small></h1>
</div>

<div class="row">
  <div class="span6">
    <%= simple_form_for(resource, :as => resource_name, :url => registration_path(resource_name), :html => { :method => :put }) do |f| %>
      <%= f.error_notification %>

      <div class="form-inputs">
        <fieldset>
          <legend>Change email</legend>
          <%= f.input :email, :required => true, :autofocus => true %>
        </fieldset>
        
        <fieldset>
          <legend>Change password</legend>
          <%= f.input :password, :autocomplete => "off", :hint => "leave it blank if you don't want to change it", :required => false %>
          <%= f.input :password_confirmation, :required => false %>
        </fieldset>

        <% if devise_mapping.confirmable? && resource.pending_reconfirmation? %>
          <p>Currently waiting confirmation for: <%= resource.unconfirmed_email %></p>
        <% end %>
      </div>
    </div>
    <div class="span6">
      <div class="well">
        <div class="form-inputs">
          <fieldset>
            <legend>Verify current password</legend>
            <%= f.input :current_password, :hint => "Enter you password even if you haven't changed it", :required => true %>
          </fieldset>
        </div>
      </div>
    </div>
  </div>

  <div class="form-actions">
    <%= f.button :submit, "Update", :class => "btn-primary" %>
    <%= link_to "Cancel", :back, :class => "btn" %>
    <%= link_to "Delete account", registration_path(resource_name), :data => { :confirm => "Are you sure?" }, :method => :delete, :class => "pull-right btn btn-danger" %>
  </div>
<% end %>