<div class="row-fluid">
  <div class="span4">
    <div class="well">
    <%= simple_form_for(resource, :as => resource_name, :url => registration_path(resource_name)) do |f| %>
        <%= f.error_notification %>
      
        <div class="form-inputs">
          <fieldset>
            <legend>Your name</legend>
            <%= f.input :first_name, :required => true, :autofocus => true %>
            <%= f.input :last_name, :required => true %>
          </fieldset>
          <fieldset>
            <legend>Your login details</legend>
            <%= f.input :email, :required => true, :input_html => { :placeholder => "School email address" } %>
            <%= f.input :password, :required => true %>
            <%= f.input :password_confirmation, :required => true %>
          </fieldset>
        </div>
      
        <div class="form-actions">
          <%= f.button :submit, "Register", :class => "btn-primary" %>
        </div>
      <% end %>
    </div>
  </div>
  
  <div class="span8">
    <h1>Register for BoarderLine</h1>
    
    <p class="lead">
      Registering for BoarderLine is easy and secure, all you need is a school email address
    </p>
    
    <p>
      By registering for BoarderLine, you will be able to post ideas to our feedback system. New features are coming soon. Please read <%= link_to "this article in the help center", welcome_help_path %> before registering for an account.
    </p>
  </div>
</div>