<div class="row">
  <div class="span4">
    <div class="well">
    <%= simple_form_for(resource, :as => resource_name, :url => registration_path(resource_name)) do |f| %>
        <%= f.error_notification %>
      
        <div class="form-inputs">
          <fieldset>
            <legend>Your name</legend>
            <%= f.input :first_name, :required => true %>
            <%= f.input :last_name, :required => true %>
          </fieldset>
          <fieldset>
            <legend>Your login details</legend>
            <%= f.input :email, :required => true, :input_html => { :placeholder => "School email address" } %>
            <%= f.input :password, :required => true %>
            <%= f.input :password_confirmation, :required => true %>
          </fieldset>
        </div>
      
        <div class="form-actions">
          <%= f.button :submit, "Register", :class => "btn-primary" %>
        </div>
      <% end %>
    </div>
  </div>
  
  <div class="span8">
    
  </div>
</div>