<div class="hero-unit">
  <h1>Welcome to BoarderLine</h1>
    <% if user_signed_in? %>
      <p>Welcome back, <%= current_user.first_name %></p>
    <% else %>
      <p>Keep track of what's happening in boarding with BoarderLine. <span class="muted">All you need is a school email address</span></p>
      <p>
        <%= link_to "Register an account", register_path, :class => "btn btn-primary btn-large" %>
      </p>
    <% end %>
</div>

<div class="row-fluid">
  <div class="span8">
    <h2>Latest news</h2>
    <% if @posts.empty? %>
      <p>
        There isn't any news to display
      </p>
    <% else %>
      <ul class="home-list">
        <% @posts.each do |post| %>
          <li>
            <%= link_to(post) do %>
              <h3><%= truncate(post.title, :length => 23) %> <small>posted <%= time_ago_in_words(post.created_at) %> ago by <%= truncate(post.user.full_name, :length => 18) %></small></h3>
            <% end %>
          </li>
        <% end %>
      </ul>
    <% end %>
  </div>
  
  <div class="span4">
    <div class="well">
      <% if user_signed_in? %>
        <p class="lead">You are currently signed in as <%= current_user.full_name %></p>
          <p>You registered for BoarderLine <%= time_ago_in_words(current_user.created_at) %> ago <% if current_user.admin %> and since then you have made <strong><%= pluralize(current_user.posts.count, "news post") %></strong><% end %></p>
      <% else %>
        <fieldset>
          <legend>Log in</legend>
          <%= simple_form_for("user", :url => user_session_path) do |f| %>
            <%= f.input :email, :input_html => { :class => 'input-block-level' } %>
            <%= f.input :password, :input_html => { :class => 'input-block-level' } %>
            <%= f.button :submit, "Log in", :class => "btn-primary" %>
          <% end %>
        </fieldset>
      <% end %>
    </div>
    
    <div class="well">
      <h2>CCGS websites</h2>
      <ul class="nav nav-pills nav-stacked">
        <li><a href="http://ccgs.wa.edu.au">CCGS Homepage</a></li>
        <li><a href="http://intranet.ccgs.wa.edu.au">Intranet <span class="muted">(authentication required)</span></a></li>
        <li><a href="http://tartarus.ccgs.wa.edu.au">Tartarus <span class="muted">(authentication required)</span></a></li>
        <li><a href="http://arcadia.ccgs.wa.edu.au">Arcadia <span class="muted">(authentication required)</span></a></li>
        <li><a href="http://mail.student.ccgs.wa.edu.au">Student mail <span class="muted">(authentication required)</span></a></li>
      </ul>
    </div>
  </div>
</div>