<div class="hero-unit">
  <h1>Welcome to BoarderLine</h1>
    <% if user_signed_in? %>
      <p>Welcome back, <%= current_user.first_name %></p>
    <% else %>
      <p>Keep track of what's happening in boarding with BoarderLine. <span class="muted">All you need is a school email address</span></p>
      <p>
        <%= link_to "Register an account", register_path, :class => "btn btn-primary btn-large" %>
        <a href="#learn-more" role="button" class="btn btn-large" data-toggle="modal">Learn more</a>
      </p>
    <% end %>
</div>

<div class="row">
  <div class="span8">
    <h2>Latest news</h2>
    <ul class="home-list">
      <% @posts.each do |post| %>
        <li>
          <%= link_to(post) do %>
            <h3><%= truncate(post.title, :length => 23) %> <small>posted <%= time_ago_in_words(post.created_at) %> ago by <%= truncate(post.user.full_name, :length => 18) %></small></h3>
          <% end %>
        </li>
      <% end %>
    </ul>
  </div>
  
  <div class="span4">
    <div class="well">
      <% if user_signed_in? %>
        <p class="lead">You are currently signed in as <%= current_user.full_name %></p>
        <div class="row">
          <div class="span1">
            <%= image_tag current_user.gravatar_url, :size => "50x50" %>
            <p><small><%= link_to "(log out)", logout_path %></small></p>
          </div>
          <div class="span2">
            <p>You registered for BoarderLine <%= time_ago_in_words(current_user.created_at) %> ago <% if current_user.admin %>, and since then you have made <strong><%= pluralize(current_user.posts.count, "news post") %></strong><% end %></p>
          </div>
        </div>
      <% else %>
        <fieldset>
          <legend>Log in</legend>
          <%= simple_form_for("user", :url => user_session_path) do |f| %>
            <%= f.input :email, :input_html => { :class => 'input-block-level' } %>
            <%= f.input :password, :input_html => { :class => 'input-block-level' } %>
            <%= f.button :submit, "Log in", :class => "btn-primary" %>
          <% end %>
        </fieldset>
      <% end %>
    </div>
    
    <div class="well">
      <h2>CCGS websites</h2>
      <ul class="nav nav-pills nav-stacked">
        <li><a href="http://ccgs.wa.edu.au">CCGS Homepage</a></li>
        <li><a href="http://intranet.ccgs.wa.edu.au">Intranet <span class="muted">(authentication required)</span></a></li>
        <li><a href="http://tartarus.ccgs.wa.edu.au">Tartarus <span class="muted">(authentication required)</span></a></li>
        <li><a href="http://arcadia.ccgs.wa.edu.au">Arcadia <span class="muted">(authentication required)</span></a></li>
        <li><a href="http://mail.student.ccgs.wa.edu.au">Student mail <span class="muted">(authentication required)</span></a></li>
      </ul>
    </div>
  </div>
</div>

<% if !user_signed_in? %>
<!-- Modal -->
<div id="learn-more" class="modal hide fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-header">
    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
    <h3 id="myModalLabel">Why sign up for BoarderLine?</h3>
  </div>
  <div class="modal-body">
    <div class="row">
      <div class="span6 center">
        <div class="learn-more-div">
          <span class="icon-stack icon-3x">
            <i class="icon-circle icon-stack-base"></i>
            <i class="icon-bullhorn white"></i>
          </span>
          <span class="lead">
            Read boarding announcements
          </span>
          <p>
            All of the announcements for the boarding house can be found in one location
          </p>
        </div>
      </div>
    </div>
  </div>
        
  <div class="modal-footer">
    <button class="btn" data-dismiss="modal" aria-hidden="true">Close</button>
    <%= link_to "Register an account", register_path, :class => "btn btn-primary" %>
  </div>
</div>
<% end %>