.row-fluid
  .span4
    .well
      %fieldset
        %legend Log in
        = simple_form_for(resource, :as => resource_name, :url => session_path(resource_name)) do |f|
          .form-inputs
            = f.input :email, :required => false, :autofocus => true, :input_html => { :class => 'input-block-level' }
            = f.input :password, :required => false, :input_html => { :class => 'input-block-level' }
            = f.input :remember_me, :as => :boolean if devise_mapping.rememberable?

          .form-actions
            = f.button :submit, "Log in", :class => "btn-primary"

  .span8.hidden-phone
    %h1 Log in to BoarderLine
    %p.lead Logging in to BoarderLine is easy and secure
    %p If you have forgotten your password, please contact ICT Services