<%= simple_form_for(@post, :html => {:class => 'form-vertical' }) do |f| %>
  <% if @post.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@post.errors.count, "error") %> prohibited this post from being saved:</h2>

      <ul>
      <% @post.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <%= f.input :author %>
  <%= f.input :title, :input_html => {:class=> 'form-full'} %>
  <%= f.input :content, :input_html => {:class=> 'form-full'} %>

  <div class="form-actions">
    <%= f.button :submit, :class => "btn-primary" %>
    <%= link_to 'Back', posts_path, class: "btn" %>
  </div>
<% end %>
