<%= simple_form_for(@post, :html => {:class => 'form-horizontal' }) do |f| %>
  <fieldset>
    <% if @post.errors.any? %>
      <div id="error_explanation">
        <h2><%= pluralize(@post.errors.count, "error") %> prohibited this post from being saved:</h2>

        <ul>
        <% @post.errors.full_messages.each do |msg| %>
          <li><%= msg %></li>
        <% end %>
        </ul>
      </div>
    <% end %>

    <%= f.input :title, :input_html => {:class=> 'input-xxlarge', :placeholder => "Must be less than 100 characters"} %>
    <%= f.input :content, :input_html => {:class=> 'input-xxlarge', :placeholder => "Must be at least 20 characters"}, :hint => "Read the #{link_to "Markdown documentation", markdown_help_path} for instructions on how to format posts" %>

    <div class="form-actions">
      <%= f.button :submit, :class => "btn-primary" %>
      <%= link_to 'Back', posts_path, class: "btn" %>
    </div>
  </fieldset>
<% end %>
