<div class="page-header">
  <h1>
    All News
  <%= link_to "New news post", new_post_path, class: "btn btn-success pull-right" %>
  </h1>
</div>

<% if @posts.empty? %>
  <p class="text-center">
    There isn't any news to display
  </p>

<% else %>
  <% @posts.reverse.each_with_index do |post, index| %>
    <% if index + 1 == @posts.length %>
      <div class="post post-last">
    <% else %>
      <div class="post">
    <% end %>
        <h2 class="post-title"><%= link_to post.title, post %></h2>
        <p>By <%= post.author %> - Posted <%= time_ago_in_words(post.created_at) %> ago</p>
        <p><%= markdown(truncate(post.content, :length => 150)) %> <%= link_to "Read entire post", post %></p>
      </div>
  <% end %>
<% end %>
