<!DOCTYPE html>
<html>
<head>
  <title>BoarderLine</title>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
  
  <!-- Font-awesome via CDN -->
  <link href="//netdna.bootstrapcdn.com/font-awesome/3.1.1/css/font-awesome.css" rel="stylesheet">
</head>
<body>
  <div class="navbar navbar-fixed-top">
    <div class="navbar-inner">
      <div class="container">
        <%= link_to "BoarderLine", root_path, :class => "brand" %>
        <ul class="nav">
          <li><%= link_to "Home", root_path %></li>
          <li><%= link_to "News", news_path %></li>
        </ul>
        
        <ul class="nav pull-right">
          <% if user_signed_in? %>
            <li><%= link_to current_user.full_name, account_path %>
            <li><%= link_to "Log out", logout_path %>
          <% else %>
            <li><%= link_to "Log in", login_path %></li>
            <li><%= link_to "Register", register_path %></li>
          <% end %>
        </ul>
      </div>
    </div>
  </div>

  <div class="container">
    <% flash.each do |type, message| %>
      <div class="alert <%= flash_class type %>">
        <button type="button" class="close" data-dismiss="alert">&times;</button>
        <%= message %>
      </div>
    <% end %>
    
    <%= yield %>

    <footer>
      BoarderLine <span class="muted">v0.2.4</span><br />
      Developed by <a href="http://davblayn.com">David Blayney</a> using the <a href="http://rubyonrails.org">Ruby on Rails</a> framework
    </footer>
  </div>
</body>
</html>