<!DOCTYPE html>
<html>
<head>
  <title>BoarderLine</title>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
</head>
<body>
  <div class="navbar navbar-inverse navbar-fixed-top">
    <div class="navbar-inner">
      <div class="container">
        <a href="#" class="brand">BoarderLine</a>
        <ul class="nav">
          <li><a href="#">Home</a></li>
          <li><%= link_to "News", news_path %></li>
        </ul>
      </div>
    </div>
  </div>

  <div class="container">
    <% flash.each do |type, message| %>
      <div class="alert <%= flash_class type %>">
        <button type="button" class="close" data-dismiss="alert">&times;</button>
        <%= message %>
      </div>
    <% end %>
    
    <%= yield %>

    <footer>
      BoarderLine <span class="muted">v0.1.0</span><br />
      Developed by <a href="http://davblayn.com">David Blayney</a> using the <a href="http://rubyonrails.org">Ruby on Rails</a> framework
    </footer>
</body>
</html>